{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body
{
    display: flex;
    Justify-content: center;
    algin-items: center;
    min-hight: 100vh;
    background: #111;

}
.container
{
    position: relative;
    width: 100%;
    display: flex;
    Justify-content: center;
    algin-items: center;

}
.container